<!DOCTYPE html>
<html>
<head>
	<% include headers %>
	<title>PSOiR AWS S3 file uploader</title>
</head>
<body>
	<nav class="navbar">

	</nav>
	<div class="container">
		<section id="section1" class="panel panel-default">

			<div class="panel-heading">
				<h3 class="panel-title">POSTing a file to Amazon S3</h3>
			</div>
			<div class="panel-body">
				<form action="https://<%=bucket%>.s3.amazonaws.com/" method="POST" id="sign-up-form" class="form-horizontal" enctype="multipart/form-data">
					<% fields.forEach(function(elem){ %>
						<input type="hidden" name="<%= elem.name  %>" value="<%=elem.value %>"/>
					<%}); %>
						<div class="col-xs-5">
							<div class="form-group">
								<label for="exampleInputFile">File input</label>
								<input type="file" name="file" class="form-control-file" style="color: #c8c8c8;"/>
								<p class="help-block">File will be send to the bucket <b><%=bucket%></b></p>
							</div>
						</div>
					</div>

					<div class="container">
						<div class="col-xs-3">
							<input type="submit" class="btn  btn-primary btn-block" value="Confirm"/>
						</div>
					</div>
				</form>
			<footer class="panel-footer">

			</footer>
		</section>
	</div>
</body>
</html>
